:root{
    --color-blue-50: #f0f6ff;
    --color-blue-100: #e0edfe;
    --color-blue-200: #b9dafe;
    --color-blue-300: #7cbdfd;
    --color-blue-400: #369dfa;
    --color-blue-500: #0c81eb;
    --color-blue-600: #005cbb;
    --color-blue-700: #014ea3;
    --color-blue-800: #064486;
    --color-blue-900: #0b396f;
    --color-blue-950: #07244a;

    --color-green-50: #eeffee;
    --color-green-100: #d7ffda;
    --color-green-200: #b2ffb7;
    --color-green-300: #76ff80;
    --color-green-400: #33f543;
    --color-green-500: #09de1a;
    --color-green-600: #00bd10;
    --color-green-700: #049111;
    --color-green-800: #0a7114;
    --color-green-900: #0a5d13;
    --color-green-950: #003406;

    --color-red-50: #fff0ef;
    --color-red-100: #ffdedc;
    --color-red-200: #ffc2bf;
    --color-red-300: #ff9792;
    --color-red-400: #ff5c54;
    --color-red-500: #ff2a1f;
    --color-red-600: #ff0c00;
    --color-red-700: #db0a00;
    --color-red-800: #bd0900;
    --color-red-900: #940f08;
    --color-red-950: #520400;

    --color-orange-50: #fffeea;
    --color-orange-100: #fffac4;
    --color-orange-200: #fff484;
    --color-orange-300: #ffe744;
    --color-orange-400: #ffd719;
    --color-orange-500: #ffb600;
    --color-orange-600: #e48a00;
    --color-orange-700: #bd6100;
    --color-orange-800: #994a07;
    --color-orange-900: #7e3c09;
    --color-orange-950: #481f00;

    --color-gray-50: #f6f6f6;
    --color-gray-100: #e7e7e7;
    --color-gray-200: #d1d1d1;
    --color-gray-300: #b0b0b0;
    --color-gray-400: #888888;
    --color-gray-500: #6d6d6d;
    --color-gray-600: #5d5d5d;
    --color-gray-700: #4f4f4f;
    --color-gray-800: #454545;
    --color-gray-900: #333333;
    --color-gray-950: #262626;

    --color-white: #FFF;
    --color-black: #000;
}
