:host{
  img{
    border: solid 2px var(--color-gray-100);
    border-radius: 100%;
    display: block;
    margin: 0 auto -30px;
    padding: 2px;
    width: 80%;
  }

  div{
    border: solid 1px var(--color-gray-100);
    border-radius: 10px;
    padding: 40px 1rem 1rem;

    h5{
      text-align: center;
    }
  }
}
