:host{
  .nav-button{
    align-items: center;
    background: none;
    border: none;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    opacity: .6;
    transition: all .2s;

    .mat-icon{
      margin-right: 5px;
    }

    &.dashboard{
      margin-right: 20px;
    }

    &.active, &:hover{
      opacity: 1;
      transition: all .2s;
    }
  }
}
