<footer>
  <div class="container p-2">

    <div class="row d-flex align-items-center">
      <div class="col-12 col-lg-4 d-flex justify-content-start flex-column">
        <p class="m-0"><img src="assets/img/lyncas_logo_white.svg" loading="lazy" /></p>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-start flex-column">
        <p class="m-0">Desafio Frontend.</p>
        <p class="m-0">Setembro - 2024</p>
      </div>

      <div class="col-12 col-lg-4 d-flex justify-content-start align-items-end">
        <p class="m-0">Desenvolvido por Vinicius Colacino<br>
          Leia o README por favor.</p>
      </div>
    </div>
  </div>
</footer>
